body { 
    font-family: Arial, Helvetica, sans-serif; 
    margin: 2rem; 
    color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    /* Use absolute path served by the server to avoid relative resolution issues */
    background: url('../static/Fond-Groupie.png');
    background-size: cover;
}
main {
    background-color: rgba(240, 240, 240, 0.3);
    backdrop-filter: blur(8px);
    max-width: 720px;
    padding: 40px;
    padding-bottom: 20vh;
    border-radius: 20px;
    

}
h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.search { 
    display:flex; 
    gap:8px;
    text-align: center;
}
input[type=search] { 
    flex:1; 
    padding:8px;
    text-align: center;
}
button { 
    padding:8px 12px;
}
#results ul { 
    list-style: disc; 
    padding-left: 20px;
}
h1 { 
    text-align: center; 
    background-color: #f0f0f0; 
    padding: 12px 0; 
    margin: 0;
}

button[id=btn-external] {
    font-family: 'Courier New', Courier, monospace;
    background-color: #0073e6;
    color: white;
    border: none;
    margin-top: 3vh;
    margin-left: 10vh;
    
}   
button[id=btn-external]:hover {
    cursor: pointer; 
    opacity: 0.7;
}