body { 
    font-family: Arial, Helvetica, sans-serif; 
    margin: 2rem; 
    color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    /* Use absolute path served by the server to avoid relative resolution issues */
    background: url('../static/Fond-Groupie.png');
    background-size: cover;
}
.container {
    margin-bottom: auto;
    background-color: rgba(240, 240, 240, 0.3);
    backdrop-filter: blur(8px);
    max-width: 720px;
    padding: 10px 40px;
    border-radius: 20px;
    margin-right: auto;

}
h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
}
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: left;
}
.search { 
    display:flex; 
    gap:8px;
    text-align: center;
}
input[type=search] { 
    flex:1; 
    padding:8px;
    text-align: center;
}
button { 
    padding:8px 12px;
}
#results ul { 
    list-style: disc; 
    padding-left: 20px;
}

button[id=btn-external] {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #0073e6;
    color: white;
    border: none;
    margin-top: 3vh;
    margin-left: 18vh;
    
}   
button[id=btn-external]:hover {
    cursor: pointer; 
    opacity: 0.7;
}

.results-container {
    margin-bottom: auto;
    background-color: rgba(240, 240, 240, 0.3);
    backdrop-filter: blur(8px);
    max-width: 720px;
    padding: 10px 40px;
    border-radius: 20px;
    margin-left: auto;
}
.concert-container {
    margin-bottom: auto;
    background-color: rgba(240, 240, 240, 0.3);
    backdrop-filter: blur(8px);
    max-width: 720px;
    padding: 10px 40px;
    border-radius: 20px;
    margin-left: auto;
}
h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align:left;
}

.artist {
    font-weight: bold;
    font-size: 1.2rem;
}

ul {
    list-style-type: none;
    padding: 0;
}